<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="DBConfig" type="org.model.lib.db.DBConfig,org.model.lib.db.4.0"/>
  </configSections>

  <!--DBConfig dbconnstring="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=prl_kombos;Data Source=CYPRUS\SQLEXPRESS" dbconnstringEncrypted="0" sqlDialect="0" /-->
  <DBConfig dbconnstring="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=modelTest;Data Source=.\SQLEXPRESS" sqlConnectionType="1" sqlDialect="1" dbconnstringEncrypted="0"/>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
