<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DBConfig" type="org.model.lib.db.DBConfig,org.model.lib.db.4.0"/>
  </configSections>

  <DBConfig dbconnstring="Provider=OraOLEDB.Oracle;Data Source=polnewdbsrv0;Persist Security Info=True;User ID=hrnuf;password=hr" sqlConnectionType="3"
  	sqlDialect="3" dbconnstringEncrypted="0"/>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
