<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="DBConfig" type="com.netu.lib.db.DBConfig,com.netu.lib.db"/>
	</configSections>
	<connectionStrings>
		<add name="com.netu.lib.tests.My.MySettings.prl_dcomConnectionString" connectionString="Data Source=sparta;Initial Catalog=prl_dcom;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<DBConfig dbconnstring="User ID=payroll;password=apoel123;Initial Catalog=prl_dcom;Data Source=sparta" dbconnstringEncrypted="0" sqlDialect="0" sqlConnectionType="0">
		<!-- value must agree with application sql dialect
	     possible values: 0=MSSQL, 1=MS JET(Access), 2=ORACLE-->
	</DBConfig>
	<system.diagnostics>
		<sources>
			<!-- This section defines the logging configuration for My.Application.Log -->
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog"/>
					<!-- Uncomment the below section to write to the Application Event Log -->
					<!--<add name="EventLog"/>-->
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information"/>
		</switches>
		<sharedListeners>
			<add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
			<!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
			<!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
		</sharedListeners>
	</system.diagnostics>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
