**/obj
**/bin
**/CodeGenLibs
**/TestResults
**/*.suo
**/*.vsmdi
**/*.user
**/FluentSharp.CoreLib.5.5.172
**/FluentSharp.Roslyn.5.3.121
**/release/*
**/NUnit.Runners.2.6.4.nupkg/*
**/packages/NUnit.2.6.4/*
**/packages/NUnit.Runners.2.6.4/*
*.lock
org.codegen.libs/.vs/org.codegen.lib.3.0/v15/Server/sqlite3/storage.ide
org.codegen.libs/.vs/org.codegen.lib.3.0/v15/Server/sqlite3/storage.ide-shm
org.codegen.libs/.vs/org.codegen.lib.3.0/v15/Server/sqlite3/storage.ide-wal
