**/obj
**/bin
**/CodeGenLibs
**/TestResults
**/*.suo
**/*.vsmdi
**/*.user
**/FluentSharp.CoreLib.5.5.172
**/FluentSharp.Roslyn.5.3.121
**/release/*
**/NUnit.Runners.2.6.4.nupkg/*
**/packages/NUnit.2.6.4/*
**/packages/NUnit.Runners.*/*
**/packages/EWSoftware.SHFB.*/*
**/packages/Oracle.ManagedDataAccess*/*
**/packages/EntityFramework.6.1.3/*
**/packages/org.codegen.common.*/*
**/packages/CodeGen.Model.Library.*/*
**/packages/Newtonsoft.Json.*/**
**/packages/Nlog*/**
**/VbObjectTestsTmp.cs


