<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="DBConfig" type="org.codegen.model.lib.db.DBConfig,org.codegen.model.lib.db.3.3" />
  </configSections>
  <!--DBConfig dbconnstring="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=prl_kombos;Data Source=CYPRUS\SQLEXPRESS" dbconnstringEncrypted="0" sqlDialect="0" /-->
  <DBConfig dbconnstring="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=modelTest;Data Source=.\SQLEXPRESS2014" sqlConnectionType="1" sqlDialect="1" dbconnstringEncrypted="0" />
  <appSettings>
    <!-- if true, then we insert default lang key in sysLanguageString.langKey 
    field if a language string asked has no row -->
    <add key="insertDefaultTranslatorKey" value="true" />
    <!-- if true, form labels and captions are retirieved using the system translator -->
    <add key="LocalizedForms" value="false" />
    <!-- the runtime type of the Translator class -->
    <add key="Translator" value="org.codegen.model.lib.db.DBTranslator, org.codegen.model.lib.db.3.0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="CGGridRowPersistor" switchValue="All">
        <listeners>
          <remove name="Default" />
          <add name="textfileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="CGGridRowPersistor.log" />
        </listeners>
      </source>
      <source name="CGBaseGrid" switchValue="All">
        <listeners>
          <remove name="Default" />
          <add name="textfileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="CGGridRowPersistor.log" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>