<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="DBConfig" type="org.model.lib.db.DBConfig,org.model.lib.db.4.0" />
  </configSections>

  <DBConfig dbconnstring="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=modelTest;Data Source=.\SQLEXPRESS2014" sqlConnectionType="1" sqlDialect="1" dbconnstringEncrypted="0" />

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FluentSharp.CoreLib" publicKeyToken="55a0f9bf4256d533" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
